---
title: Iugstav | Portfólio
---

<!DOCTYPE html>
<html lang="pt-BR" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ 'assets/css/tailwind.css' | url }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,500;1,500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>
            {{ title }}
        </title>
    </head>
    <body class="min-h-full">
        {% include "components/header.njk" %}

        {{ content | safe }}

        {% include "components/footer.njk" %}

        <script src="assets/js/terminal.js"></script>
        <script src="assets/js/cards.js"></script>
        {# <script>
            document.addEventListener("DOMContentLoaded", () => {
                const captures = document.querySelectorAll(".glow-capture")
                if (captures.length) {
                    captures.forEach(c => {
                        const clone = c
                            .children[0]
                            .cloneNode(true)
                        const overlay = c.querySelector(".glow-overlay")
                        overlay.appendChild(clone)

                        "mousemove touchstart"
                            .split(" ")
                            .forEach(ev => {
                                if (ev == "touchstart") 
                                    return

                                c.addEventListener(ev, (ev) => {
                                    const x = ev.pageX - c.offsetLeft
                                    const y = ev.pageY - c
                                        .offsetTop

                                        overlay
                                        .style
                                        .setProperty("--x", `${x}px`)
                                    overlay
                                        .style
                                        .setProperty("--y", `${y}px`)
                                    overlay
                                        .style
                                        .setProperty("--opacity", "1")
                                })
                            })

                        "mouseleave touchend"
                            .split(" ")
                            .forEach(ev => {
                                c.addEventListener(ev, () => {
                                    overlay
                                        .style
                                        .setProperty("--opacity", "0")
                                })
                            })
                    })
                }

            }) #}
        </script>
    </body>
</html>