<footer class="w-full h-28 bottom-0 border-t-2 border-graphite-hover flex gap-4 items-center justify-center">
    <div class="w-9 h-9">
        <a target="_blank" href="https://github.com/iugstav">
            {% svg "github.svg" %}
        </a>
    </div>
    
    <div class="w-8 h-8">
        <a target="_blank" href="https://www.linkedin.com/in/gustavo-soares-37373b2b7">
            {% svg "linkedin.svg" %}
        </a>
    </div>
</footer>