<div id="term-wrapper" class="h-[32rem] p-5 jetbrains-mono text-lg overflow-auto scrollbar-custom cursor-text">
    <p>Digite <span class="text-code-cyan">help</span> para ver os comandos disponíveis</p>

    <div id="term-text" class="mt-2 ">
        <p class="text-code-green">iugstav&commat;portfolio <span class="text-ice-main">~</span></p>

        <div id="row" class="flex gap-2">
            <span class="text-ice-main">&#36;</span> 
            <div
                contenteditable="true"
                id="terminal-input"
                spellcheck="false" 
                autocorrect="false" 
                autospell="false"
                class="w-[90%] h-auto break-words bg-transparent jetbrains-mono overflow-hidden box-border focus:outline-none"
            ></div>
        </div>
    </div>

</div>

<script src="/assets/js/terminal.js" type="module"></script>