@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--go: #32beff;
	--javascript: #f1e05a;
	--lua: #0000ff;
	--python: #3572a5;
	--c: #555555;
}

body {
	background-color: #1a1a1a;
}

.glow-overlay {
	--glow-size: 15rem;

	position: absolute;
	inset: 0;
	pointer-events: none;
	user-select: none;
	opacity: var(--opacity, 0);
	mask: radial-gradient(
		var(--glow-size) var(--glow-size) at var(--x) var(--y),
		var(--color) 1%,
		transparent 50%
	);
	transition: 400ms mask ease;
	will-change: mask;
}
